body {
    background-color: #333;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#main_frame {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

#user_frame {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: fit-content;

    margin: 10px;
    padding: 20px;
    border: 2px solid white;
    border-radius: 4px;
    transition: 200ms ease-in-out;
    box-shadow: 0px 0px 10px 4px white;
    background: linear-gradient(45deg, #cdb4db, #ffc8dd, #ffafcc, #bde0fe, #a2d2ff, #cdb4db);
    background-size: 600%;
    background-position: right;
    animation: slide_in 1000ms ease-in-out forwards 200ms;
    opacity: 0;
}

@keyframes slide_in {
    0% {margin-left: -1000px}
    70% {margin-left: 50px}
    100% {margin-left: 10px; background-position: left;background-size: 600%;opacity: 1;}
}

#user_location {
    font-size: 14px;
}

#user_photo {
    width: 128px;
    border: 4px solid white;
    border-radius: 50%;
    margin: 8px;
    box-shadow: 0px 0px 10px 2px white;
    transform: all 500ms;
}

#user_photo:active {
    box-shadow: 0px 0px 10px 4px white;
}

#user_identity {
    font-size: 32px;
}


#subpanel {
    border-radius: 4px;
    width: 82px;
    height: 20px;
    background-color: blueviolet;
    border: 2px solid white;
    overflow: hidden;
    transition: 250ms ease-in-out;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 20px;
    transition: height 250ms ease-in-out;

    margin-bottom: 100px;
    background: linear-gradient(45deg, #cdb4db, #ffc8dd, #ffafcc, #bde0fe, #a2d2ff);
    background-size: 500%;
    background-position: right;
    animation: slide_in 1000ms forwards 300ms;
}

#subpanel:hover {
    height: 60px;
}



#submit_btn {
    height: 32px;
    width: 64px;
    background: rgba(245, 245, 245, 0.8);
    border-radius: 14px;
    margin: 10px;
    color: blueviolet;
    text-align: center;
    font-size: 18px;
    line-height: 1.8;
    font-weight: 500;
    margin: 10px;
    border: 2px solid blueviolet;
}

#submit_btn:hover {
    animation: boing 400ms ease-in-out forwards;
    border: 4px solid blueviolet;
    margin: 8px;
}

/************ Notes ***********/

#notes_panel {
    width: 85%;
    height: fit-content;
    background: rgba(245, 245, 245, 0.8);
    border-radius: 14px;
    margin: 10px;
    padding: 32px 16px 32px 16px;

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}

.note {
    height: fit-content;
    width: fit-content;
    padding: 8px;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.384);
    background-color: #333;
    color: white;
    opacity: 0;
    transition: all 300ms ease-in-out;
}

.note_content:hover .note {
    animation: boing 300ms ease-in forwards;
}
.note:hover {
    animation: boing 300ms ease-in forwards;
}

.note_exit {
    width: 0;
    height: 0;
    opacity: 0;

    cursor: pointer;
    transition: 250ms ease-in-out;
}

.note:hover
.note_exit:hover {
    width: 12px;
    height: 12px;
    font-size: 8px;
    padding: 2px;
    opacity: 1;
    color : red;
    font-weight:bold;
    background-color: rgba(245, 245, 245, 0.75);
    border-radius: 50%;
}

.note_exit:active {
    transform: scale(1.2);
}

#note_entry {
    height: 2rem;
    width: 45%;
    text-align: center;
}

.note_info {
    font-size: 8px;
}

@keyframes boing {
    0% { transofrm: scale(1);}
    50% { transform: scale(1.4);}
    100% { transform: scale(1.2);}
}



.big_bar {
    height: 4px;
    width: 100%;
    margin: 32px;
    background: linear-gradient(90deg, hotpink, cyan, hotpink, cyan, hotpink);
    background-size: 500%;
    animation: fading 5s ease-in-out infinite;
}

.big_bar:nth-child(2) {
    animation-delay: 2.5s;
}

@keyframes fading {
    0% {background-position: left;}
    50% {background-position: right;}
}
